<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.649" targetFramework="net472" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net472" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net472" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net472" />
  <package id="EnterpriseLibrary.Data.SqlCe" version="6.0.1304.0" targetFramework="net472" />
  <package id="FreeSpire.XLS" version="12.7.0" targetFramework="net472" />
  <package id="IronSoftware.System.Drawing" version="2023.6.1" targetFramework="net472" />
  <package id="Leadtools.Annotations" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Barcode" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Dicom" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Dicom.Pacs.Scu" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Document" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Document.Analytics" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Document.Sdk" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Formats.Document" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Formats.Raster.Common" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Formats.Vector" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Forms" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Image.Processing" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Kernel" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Ocr" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Ocr.Languages.Main" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Ocr.Languages.Main.NET" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Pdf" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Viewer.Controls.Xamarin" version="22.0.0.8" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="2.1.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net472" />
  <package id="Unity" version="4.0.1" targetFramework="net472" />
</packages>